{% extends "base.html" %}
{% block title  %}  {% endblock  %}

{% block content  %}

<div class="container-fluid mt-5 text-center ">
    <img src="static/detai.png" 
         alt="Ảnh minh họa" 
         class="img-fluid rounded shadow custom-img"
         

</div>
<h2 class="in-text ">Introduction</h2>
<div class="container-fuild container-2">
    <div class="card shadow-lg">
      <div class="card-body">
        
        <p class="card-text">
          Gioi chung thieu ve de tai va trang web
          uahdibakiduxsbcuigasbgcfugboausbdcukbsadgucbgukafbcukabucvbuavqecbuikebvfucivb
          dckbihicsfiancaihnaeiclasncai
          sclaliinscaibciasn
          ạcnalbsdvlioabzd
        </p>
      </div>

    </div>
  </div>



  
  <div class="container mt-5">
    <div class="row justify-content-center flex-wrap">
      <!-- Card 1 -->
      <div class="col-auto mb-4">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front d-flex align-items-center justify-content-center">
              <h4>Be tong su dung nhua tai che</h4>
            </div>
            <div class="flip-card-back d-flex align-items-center justify-content-center">
              <p>Nội dung mặt sau của Card 1</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="col-auto mb-4">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front d-flex align-items-center justify-content-center">
              <h4>Ky thuat du doan</h4>
            </div>
            <div class="flip-card-back d-flex align-items-center justify-content-center">
              <p>Nội dung mặt sau của Card 2</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
{% endblock  %}